<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Classipy! A python text to speech image recognizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="static/css/styles.css" rel="stylesheet">
</head>

<body>    
    <div class="container-full">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center">
            	<h1>Classipy!</h1>
                <p class="lead">A python text to speech image recognizer</p>                
                <form action="{{url_for('classify')}}" method="POST" id="classiform">                  
                    <br>
                    <img class="replace-image" src="{{img}}">
                    <div class="row">
                        <div style="white-space: pre-line;">
                           {{label}}
                        </div>
                        <br>                        
                        <audio id="speech" controls="controls" preload="auto" autoplay>                       
                            <source src="/static/resources/{{audio_url}}" type="audio/ogg">
                            Your browser does not support the audio element.
                        </audio>                        
                     </div>
                     <br>
                     <br>
                    <div class="input-group">
                        <input class="form-control input-lg" title="Enter image url" placeholder="Image url (.jpg, .png)" type="text" id="img_url" name="img_url">
                        <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="submit" id="bt_submit">Classipy!</button></span>
                    </div>
                    <br>
                    <br>                    
                </form>
                <div class="table-responsive" style="margin:0 auto;">                     
                     <table class="table table-hover table-bordered table-inverse">
                         <tr>
                             <th class="table-header" colspan="2">Last classipyed images</th>                             
                         </tr> 
                         {% for row in db_data %}                         
                             <tr class="clickable-row">
                                 <td class="photo" style="padding: 0px 0px 0px 0px;"><img src="{{row[1]}}" style="max-height:50px; height=50"></td>
                                 <td style="white-space:pre-wrap;vertical-align:middle;font-size:10pt;">{{row[2]}}</td>
                             </tr>
                         {% endfor %}  
                      </table>
                    </div>
                    <a href="https://github.com/renatojen/classipy" id="github" target="_blank"><i class="fa fa-github"></i></a>
        			<p align="center">&copy; 2016 Renato Jensen Filho </p>     
                </div>                
            </div>
        </div>  
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="static/js/scripts.js"></script>
</body>
</html>